h1{ color:red; 
font-family:Arial; 
font-weight:bold; 
text-align:center;
font-size:70; }
p{ color:black;
 font-family:Arial;
 text-align:center;
 font-weight:bold;  }
 body{
    background:url("123.png") no-repeat fixed center;
 }