h1 {
    color: red;
    font-family: bangna new;
    font-weight: bold;
    text-align: center;
    font-size: 20;
}

p {
    color: white;
    font-family: Arial;
    text-align: center;
    font-weight: bold;
}

body {
    background: url("background.jpg") no-repeat fixed center;
}


/*** Table  ***/

.datagrid table {
    border-collapse: collapse;
    text-align: center;
    width: 100%;
}

.datagrid {
    font: normal 12px/80% Arial, Helvetica, sans-serif;
    background: #FFFFFF;
    width: 90%;
    overflow: hidden;
    border: 2px solid #991821;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}

.datagrid table td,
.datagrid table th {
    padding: 18px 16px;
}

.datagrid table thead th {
    background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #991821), color-stop(1, #80141C));
    background: -moz-linear-gradient( center top, #991821 5%, #80141C 80%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#991821', endColorstr='#80141C');
    background-color: #991821;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: bold;
    border-left: 1px solid #CDC5C5;
}

.datagrid table thead .fth {
    color: #FFFFFF;
    font-size: 20px;
    font-weight: bold;
}

.datagrid table thead th:first-child {
    border: 1px;
}

.datagrid table tbody td {
    color: #80141C;
    border-left: 1px solid #F0EAE8;
    font-size: 12px;
    border-bottom: 1px solid #F0EAE8;
    font-weight: normal;
}

.datagrid table tbody .alt {
    background: #991821;
    color: #FFFFFF;
    text-align: left;
}

.datagrid table tbody .alt1 {
    background: #F29E8A;
    color: #000000;
}

.datagrid table tbody td:first-child {
    border-left: none;
}

.datagrid table tbody tr:last-child td {
    border-bottom: none;
}


/*** -----  ***/


/*** Enroll  ***/

.en table {
    border-collapse: collapse;
    text-align: center;
    width: 100%;
}

.en {
    font: normal 12px/80% Arial, Helvetica, sans-serif;
    background: #FFFFFF;
    width: 60%;
    overflow: hidden;
    border: 2px solid #991821;
    -webkit-border-radius: 20px;
    /* กรอบ */
    -moz-border-radius: 20px;
    /* กรอบ */
    border-radius: 20px;
    /* กรอบ */
}

.en table td,
.en table th {
    padding: 18px 16px;
}

.en table thead th {
    background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #991821), color-stop(1, #80141C));
    background: -moz-linear-gradient( center top, #991821 5%, #80141C 80%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#991821', endColorstr='#80141C');
    background-color: #991821;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: bold;
    border-left: 1px solid #CDC5C5;
}

.en table thead .fth {
    color: #FFFFFF;
    font-size: 20px;
    font-weight: bold;
}

.en table thead th:first-child {
    border: 1px;
}

.en table tbody td {
    color: #80141C;
    border-left: 1px solid #F0EAE8;
    font-size: 12px;
    border-bottom: 1px solid #F0EAE8;
    font-weight: normal;
}

.en table tbody td:first-child {
    border-left: none;
}

.en table tbody tr:last-child td {
    border-bottom: none;
}


/*                               */


/* Gallery*/

div.img {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
}

div.img:hover {
    border: 1px solid #777;
}

div.img img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}


/*                               */


/* tabbar */

tab {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

tb {
    float: left;
}